@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
     font-family: 'Montserrat', sans-serif;
}
a {
text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center;

}

 img {
    height:100%;
    width: 100%;
    object-fit: cover;
    
}
p {
    color: black;
    text-align: left;
    font-size: 1.8rem;
    line-height: 12rem;
    
}
 .service-title {
    font-size:  4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
 .service-title{
    color:black;
}

 .cta{
    display:inline-block;
    padding:10px 30px;
    color: 2px solid white;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: 2s;
    transition-property: background-color,color;
}
 .cta:hover {
    color:#000;
    background-color:white;
    opacity: .7;
     cursor: pointer;
      box-shadow: 0 2px 50px 0 #62b4b2, 0 2px 100px 0 #6fa7a5;
      border-radius: 15px solid white;
}  
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
color: crimson;
}
/*header css*/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vh;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgb(8, 0, 0);
   opacity: .9;
}
.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vh;
    height: 100vh;
    left: 100%;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    transition: .5s ease left;

}
#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size:2.5rem;
    font-weight:500;
    letter-spacing: .2rem;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    padding: 30px;
    display: block;

}
#header .nav-list ul a::after {
content: attr(data-after);
position: absolute;
top: 50%;
left : 50%;
transform: translate(-50%,-50%) scale(0);
color: rgba(248,248,255,0.021);
font-size: 5rem;
letter-spacing: 50px;
z-index: -1;
transition:  .3s ease letter-spacing;

}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing:initial;
}
#header .nav-list ul li:hover a{
    color:crimson;

}



#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
    z-index: 50;
    cursor: pointer;
    transform:scale(.8);
    margin-right: 20px;
    
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height:100%;
    width: 100%;
    border-radius: 50%;
    border: 30px solid rgb(255, 255, 255);
    animation: hamburger_pulse 1s ease infinite;

}




#header .hamburger .bar {
height: 2px;
width: 30px;
position: relative;
background-color: white;
z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color:white;
    transition: .3s ease;
    transition-property: top,bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}

#hero {
    background-image:url("images/daniel-josef-AMssSjUaTY4-unsplash.jpg");
    background-size: cover;
    background-position: top center;
    position: relative
      }
#hero::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content:flex-start;

}
#hero h1 {
    display: block;
     width:fit-content;
     font-size: 30px;
     position: relative;
     color: black;
     animation: text_reveal_box 1s ease forwards;
     animation-delay: 1s;

}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation-delay: 2s;
}

#hero h1 span{
    position:absolute;
    width:fit-content;
    top:0;
   left:0;
   height: 100%;
   width: 100%;
   background-color: transparent;  
   animation: text_reveal_box 1s ease;
   animation-delay: .1s;

}
#hero h1:nth-child(1)span {
    animation-delay: .1s;
}
#hero h1:nth-child(2)span {
    animation-delay: 1s;

}
#hero h1:nth-child(3)span {
    animation-delay: 2s;
}


#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
#services .services-top {
    width: 500px;
   margin: 0 auto;
}
#services .service-title {
    font-size:  4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    
}
#services .service-title{
    color:black;
}
#services .service-top p{
    font-size: 1.4rem;
    margin-top:5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;

}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;

}
#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    border-radius: 10px;
    background-image: url("./images/rodion-kutsaev-IJ25m7fXqtk-unsplash\ \(1\).jpg");
    background-size: cover;
    margin:10px 5%;
    position:relative;
    overflow:hidden;
    

}
#services .service-item::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .8;
    z-index: -1;
}
#services .service-bottom .icons {
    height: 88px;
    width: 88px;
    margin-bottom: 20px;

}
#services .service-item h2 {
    font-size: 2rem;
    color: black bold;
    margin-bottom: 10px;
    text-transform: uppercase;

}
#services .service-item p {
    color: black;
    text-align: left;
    font-size: 1.8rem;
    line-height: 12rem;
    
}
#project .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}
#projects .projects-header h1 {
margin-bottom: 50px;
text-align: center;
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#projects .all-projects{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#projects .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 30px;
    
}
#projects .project-info {
    padding:30px;
    flex-basis: 40%;
    height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    


}
#projects .project-info h1{
    font-size:4rem;
    font-weight: 300;
    margin-top: 10px;

}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 30px;
    margin: top 10px;

}
#projects .project-info p {

    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: small;
    letter-spacing: none;
}


#projects .project-img {
    flex-basis: 50%;
    height:300px;
    overflow: hidden;
}

/* about section */
#about .col-left {
    width: 250px;

}
#about .about {
    text-align:center;
    max-width:  1200px;
    margin: 0 auto;
    padding: 100px 20px;
    flex-direction: column-reverse;
    font-size: 40px;
    
}
#about .col-right{
    width : 100%;
}
#about .col-right h2{
    font-size:  30px;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p {
margin-bottom: 20px;

}
#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left  .about-img {
    position:relative;
    height: 100%;
    width: 100%;
    border: 10px solid white;

}


#about .col-left .about-img ::after {
 content:'';
 position: absolute;
 left: -33px;
 top: 19px;
 height: 98%;
 width: 98%;
 border: 7px solid crimson;
 z-index: -1;
 overflow: hidden;
 border-radius:  30px;

}

/* end of about section */
#contact .contact {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}
#contact .contact-item {
    width: 300px;

}
#contact .contact-item {
    width:80%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
    justify-content:center;
    align-items:center;
    box-shadow: 10px 10px 8px 10px #0000002c ;
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    transition: .3s ease box-shadow;
    
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0px #0000002c ;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;

}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    align-items:center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;

}
/* end of the about*/



/*start of the footer*/
#Footer  {
    background-image: linear-gradient(60deg,#29323c 0%, #485563 100%);

}
#Footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

}
#Footer h2 {
color:white;
font-weight: 400;
font-size: 1.8rem;
letter-spacing: .1rem;
margin-top: 18px;
margin-bottom: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#Footer .social-icon {
display: flex;
margin-bottom: 30px;
}
#Footer .social-item {
    margin: 0 5px;
}
#Footer .social-item img {
    filter: grayscale(1);
    transition:  .3s ease filter;
}
#Footer .social-item:hover img {
    filter: grayscale(0);

}
#Footer p{
    color:white;
    font-size: medium;
}
/*end of footer*/
@keyframes hamburger_pulse{
0%{
    opacity: 1;
    transform: scale(1);
}
100%{
    opacity: 0;
    transform: scale(1.4);
}
}

@keyframes text_reveal_box {
50%{
    width: 100%;
    left: 0;
}

100%{
width:0;
left: 100%;
}
}
@keyframes text_reveal_box {
100% {
    color:white;
}

}
 /* media query*/

@media only screen and (min-width:768px){
    .cta{
        font-size: 1.5rem;
        padding: 20px 60px;
         
    }
    h1.section-title {
        font-size:7rem;
    }
#hero h1 {
font-size: 7rem;

}

#services .service-bottom .service-item {
 flex-basis: 45%;
 margin: 2.5%;

}

#projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
}

#projects .project-item{
    height: 400px;
    margin: 0;
    width:100%;
    border-radius: 30px;

}
#projects .all-projects .project-info {
    height: 100%;
}
#projects .all-projects .project-img {
    height: 100%;
}
#about .about .col-left .about-img::after {
left: -45px;
top: 54px;
height:98%;
width: 98%;
border:10px solid crimson;
}
#about .col-right {
text-align: left;
padding: 30px;
}
#about .col-right h1 {
    text-align: center;
}

#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;

}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin:0;

}
#contact .contact-item{
    margin: 20px;
    flex-direction:column;
}
#contact .contact-item.icon img{
    object-fit: contain;
}
#contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

}

@media only screen and  (min-width:1200px) {

#header .hamburger{
    display: none;
}
#header .nav-list ul{
    position: initial;
    display: block;
    height:auto;
    width:fit-content;
    background-color: transparent;
}
#header .nav-list ul li{
    display: inline-block;
}

#header .nav-list ul a{
    font-size: 1.8rem;
}


#header .nav-list ul a:after {
    display:none;

}


  #services .service-bottom .service-item {
      flex-basis: 22%;
      margin: 1.5%;
  }  
}